
body{
    background-color: #ffffff;
}

#box{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    width: 747px;
    height: 562px;
}

#header{
    height: 63px;
    padding:0px 21px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px 5px 0px 0px;
    background-color: #3a84ff
}

#header-left{
    width: 217px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#header-left img{
    height: 22px;
}

#header-left p{
    color:#ffffff;
    font-size: 18px;
}

#header-right{
    width: 70px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#header-right a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

#header-right a:first-child:hover{
    background-color: #b0ceff
}

#header-right a:nth-of-type(2):hover{
    background-color: red
}

#bottom{
    border-radius: 0px 0px 6px 6px;
    height: 500px;
    display:flex;
}

#left{
   width: 520px;
}

#right{
    width: 228px; 
}

#right p{
    font-size: 14px; 
    letter-spacing: 1px
}


#article-title{
    text-align: center;
}

#article{
    text-align: justify;
    text-indent: 27px;
    padding: 0px 19px;
}
